<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Create Melody</title>
  </head>
  <body>
    <h1>Create Melody</h1>
    <form method="POST" action="/">
     <label for="tonality">Choose a tonality:</label>
      <select name="tonality" id="tonality">
        <option value="major">Major</option>
        <option value="minor">Minor</option>
      </select>
      <button>create melody</button>
    </form>
  </body>
</html>